{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@Public": "/public",
          "@Constants": "/src/core/constants",
          "@Decorators": "/src/core/decorators",
          "@Helpers": "/src/core/helpers",
          "@Hooks": "/src/core/hooks",
          "@Interfaces": "/src/core/interfaces",
          "@Layouts": "/src/core/layouts",
          "@Services": "/src/core/services",
          "@UI": "/src/components/UI",
          "@Components": "/src/components",
          "@core": "/src/core/interfaces",
          "@Pages": "/src/pages",
          "@Queries": "/src/queries",
          "@Sections": "/src/sections",
          "@Store": "/src/store",
          "@Styles": "/src/styles"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
