{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@Public": "./public",
          "@Constants": "./src/core/constants",
          "@Decorators": "./src/core/decorators",
          "@UI": "./src/core/components/UI",
          "@Helpers": "./src/core/helpers",
          "@Hooks": "./src/core/hooks",
          "@Interfaces": "./src/core/interfaces",
          "@Layout": "./src/core/layout",
          "@Services": "./src/core/services"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
