@import 'variables.scss';
@import 'buttons.scss';

// button (color, background, borderColor)

.button__group {
  display: flex;
  justify-content: center;
}

.button {
  @include button($red, transparent, $red);

  &:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
  }

  &:nth-of-type(2):not(:last-child) {
    border-radius: 0;
    border-right-width: 0;
  }

  &:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  
  &:hover, &:focus {
    background: $red;
    color: white;
    border-color: $red;
  }

}

.button__active {
  @include button(white, $red, $red);

  &:hover {
    @include button(white, $red-dark, $red-dark);
  }

}
