@import 'variables.scss';

.bonus__heading {
  font-weight: bold;
}

.link__bold {
  color: $text-dark;
  font-weight: bold;
  text-decoration: underline;
}

.heading__partner { 
  font-size: 1.625rem;
  font-weight: bold;
}

.org__list {
  display: grid;
}

.item__title {
  font-size: 1.125rem;
  text-align: center;
}


@media (min-width: $device-lg) {
  .org__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

@media (min-width: $device-xl) {
  .bonus {
    background-image: url('/images/pages/articles/welcome.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
