@import "variables.scss";

.stories__head {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: start;
}

.head__title {
  margin-bottom: 20px;
}

@media (min-width: $device-md) {
  .stories__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .head__title {
    margin-bottom: 0;
  }
  
}
