@import 'variables.scss';

.support__heading {
  font-weight: bold;
}

.link__bold {
  color: $text-dark;
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: $device-xl) {
  .support {
    background-image: url('/images/pages/support-page/love-pic.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}
