@import "variables.scss";

%firstAndLast {
  background: transparent;
  color: $text-dark;
  border-color: $text-dark;
  border-radius: 50%;
}

.pagination {
  text-align: center;

  li {
    border: none;
    background: transparent;

    &:first-child button {
      @extend %firstAndLast;
    }

    &:last-child button {
      @extend %firstAndLast;
    }

    a {
      color: $text-muted;
      font-size: 1.05rem;
    }

  }
}
