.logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
}
.logo__image {
  grid-row: span 2;
  width: 45px;
  height: 45px;
}
.logo__brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}
.logo__slogan {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}
