@import "variables.scss";

// Button common style 

@mixin button($color, $background, $borderColor) {
  color: $color !important;
  background: $background !important;
  border: 1px solid $borderColor !important;
}

.btn {
  cursor: pointer;
  display: block;
  width: max-content;
  padding: 10px 15px;
  border-radius: $radius;
  line-height: 1.15;
}

.btn:hover {
  text-decoration: none;
}

// Button red 

.btn-danger {
  @include button(white, $red, $red);
}

.btn-danger:hover {
  @include button(white, $red-dark, $red-dark);
}

.btn-outline-danger {
  @include button($red, white, $red);
}

.btn-outline-danger:hover {
  @include button(white, $red, $red);
}

