@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap');
@import 'variables.css';

*,
*:after,
*:before {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: var(--red);
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--text-dark);
  background: var(--background-sm);
}

@media (min-width: 992px) {
  body {
    background: var(--background);
  }
}

/* Typography  */

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(0.01024 * 100vw + 28.7221px);
}

h2,
.h2 {
  font-size: calc(0.00909 * 100vw + 21.0909px);
}

h3,
.h3 {
  font-size: calc(0.00568 * 100vw + 17.909px);
}

h4,
.h4 {
  font-size: calc(0.0034 * 100vw + 14.909px);
}

h5,
.h5 {
  font-size: calc(0.0034 * 100vw + 11.909px);
}

h6,
.h6 {
  font-size: calc(0.0034 * 100vw + 9.909px);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
