// Breakpoints

$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;

// Colors

$red: #ff434b;
$red-dark: #CC353D;
$red-diluted: #f8bab4;

$background: #fffafa;
$background-sm: #fff7f4;

$primary: #ffecdd;

$text-dark: #333333;
$text-gray: #595757;
$text-muted: #808080;

// Others

$radius: 25px;
